.class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    padding:5vh;

    width: 80vh;
    height: 20vh;
    background-color: aquamarine;
    box-shadow: 0px 8px 5px 5px rgba(215, 255, 242, 0.732);

    border-radius: 16.18%;
}

.class:hover{
    background-color: rgba(164, 255, 225, 0.732);
}